body{
    background-color: #ece2e1;
    color: #f38181;
    font-size: 20px;
    font-family: 'Truculenta', sans-serif;
    text-align: center;
  }
  h1{
    font-family: "Sofia", sans-serif;
    color: red;
    font-weight: lighter;
    font-size: 10px;
  }
  h2 {
    font-family: "Sofia", sans-serif;
    color: #f14668;
    font-weight: lighter;
    font-size: 25px;
  }
  a {
    color: #f38181;
    font-family: 'Truculenta', sans-serif;
  }
  a:hover {
    text-decoration: none;
    color: #95e1d3;
  }
  #banner{
    text-align: center;
    background-image: url("/images/cats\ &\ dogs.jpg");
    background-size: cover;
    padding: 150px;
    text-shadow: 1px 1px 5px black;
  }
  #banner h1 {
    color: #fce38a;
    font-size: 60px;
    font-weight: 500;
  }
  #banner p {
    color:white;
    font-family: 'Truculenta', sans-serif;
    opacity: 0.9;
    font-size: 35px;
    font-weight: 300;
  }
  #footer{
    padding: 30px;
    background: rgb(30, 30, 30);
    color: #eaffd0;
  }
  .card{
    padding: 50px;
    font-weight: lighter;
  }